#container{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}
button{
    background-color: hsl(240, 76%, 60%);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 10px 15px;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(240, 60%, 50%);
}
button:active{
    background-color: hsl(240, 60%, 70%);
}
input{
    margin: 10px;
    font-size: 1em;
    width: 100px;
    text-align: center;
    font-weight: bold;
}
#rollResult{
    margin: 10px;
}
#diceImg img{
    width: 200px;
    margin: 10px;
}